@import 'button.less';

.hbox{
    width:100%;

    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
}
.container {
    display: box;
    box-orient: horizontal;
    box-pack: center;
    box-align: center;
}

.nav-bar {
  width: 15%;
  height: 100%;
  background-color: #222;
  font-family: sans-serif;
  font-size: medium;
  a {
      width: 80%;
      height: 25px;
      padding: 15px;
	    display:inline-block;
      color: #9d9d9d;
      text-decoration: none;
      &:hover {
        color: #ffffff;
        background-color: #000000
      }
	}
}

.content {
  width: 85%
}

.header {
  height: 70px;
  background-color: #222;
  color: #fdfdfd;
}
